html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
table,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 189px;
    height: 60px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.heading-2 {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}

.desc {
    color: #656689;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9; /* 187.5% */
}

.logo {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.logo-text {
    color: #000958;
    font-family: Sora;
    padding: 0 8px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

/* Header */
.header {
    /* padding: 92px; */
    background: #fffaf5;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    padding: 4px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    transition: text-shadow 0.2s, color 0.2s;
}

.navbar__link:hover {
    color: #000958;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header__action {
    padding: 18px 31px;
    background: transparent;
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    color: #000958;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 95px;
}

.hero__img {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.hero__content {
    width: 44%;
}

.hero__img--main {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    object-fit: cover;
    z-index: 1;
}

.hero__img--sub {
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    object-fit: cover;
    position: absolute;
    bottom: -58px;
    right: -163px;
    z-index: 2;
}

.flower-top {
    position: absolute;
    top: 17px;
    right: -39px;
}

.flower-bot {
    position: absolute;
    bottom: 10px;
    left: -58px;
}

.hero__pet {
    position: absolute;
    left: 129px;
    bottom: -94px;
    padding: 14px 18px;
    z-index: 2;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__more {
    display: flex;
    align-items: center;
}

.hero__more--img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.diff-color {
    background: #6597c2;
}

.hero__more--text {
    margin-left: 9px;
}

.hero__more--desc {
    color: #181e52;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__more--rate-1,
.hero__more--rate-2 {
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    margin-top: 7px;
}

.hero__more--rate-2 {
    width: 39px;
}

.line {
    display: inline-block;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 66px;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
    margin-bottom: 24px;
}

.hero__desc {
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    margin-bottom: 38px;
}

.hero__btn {
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.hero__arrow {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    color: #ff5b2e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.hero__call {
    color: #000958;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-left: 24px;
}

/* About */
.about {
    padding-top: 138px;
    background: #fffaf5;
    padding-bottom: 185px;
}

.about__media {
    position: relative;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
}

.about__inner .heading-2 {
    width: 446px;
    margin-top: 15px;
}

.about__inner .desc {
    width: 431px;
    margin-top: 24px;
}

.about__checked {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 34px 36px;
    margin-top: 55px;
}

.about__text {
    display: flex;
    align-items: center;
    position: relative;
    color: #48496a;
    font-size: 18px;
    font-weight: 500;
}

.about__text::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    margin-right: 10px;
}

.about__text::after {
    position: absolute;
    top: 6px;
    left: 5px;
    display: inline-block;
    content: "";
    height: 4px;
    width: 10px;
    border: 3px solid #fff;
    border-color: transparent transparent #fff2e5 #fff2e5;
    border-radius: 3px;
    rotate: -45deg;
}

.about__card {
    width: 136px;
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 27px 29px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 42px;
    font-weight: 700;
}

.about__card--desc {
    color: #c6f4f9;
    text-align: center;
    padding-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__card--decor {
    position: absolute;
    top: -40px;
    left: 87px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__meida--before {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__media--img {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__wrap--decor {
    position: absolute;
}

.about__wrap--line-1 {
    top: 13px;
    left: 388px;
}

.about__wrap--line-2 {
    top: -16px;
    left: 426px;
}

.about__wrap--line-3 {
    top: 33px;
    left: 425px;
}

.about__wrap--triangle-1 {
    top: 268px;
    left: 468px;
}

.about__wrap--triangle-2 {
    top: 336px;
    left: 427px;
}

.about__wrap--cirle {
    top: 435px;
    left: 377px;
}

.about__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.about__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    width: 511px;
    line-height: 1.88; /* 187.5% */
}

.about__item-desc {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    margin-left: 11px;
    font-weight: 600;
}

.about__more--list {
    position: relative;
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__more--item {
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.about__more--list::after,
.about__more--active::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: #ff5b2e;
}

.about__more--active::after {
    width: 95px;
    opacity: 1;
}

.about__item--content {
    color: #656689;
    font-size: 14px;
    width: 391px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    margin-top: 36px;
}

.view-more {
    display: inline-block;
    color: #ff5d31;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

/* Service */
.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.service__heading {
    margin-top: 15px;
    color: #000958;
    text-align: center;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 70px;
    margin-top: 70px;
    z-index: -1;
}

.service__img {
    display: inline;
    position: relative;
    width: 447px;
    height: 621px;
    flex-shrink: 0;
    object-fit: contain;
    z-index: 2;
}

.service__media {
    position: relative;
}

.service__media::after {
    position: absolute;

    content: "";
    display: inline-block;
    left: 16px;
    bottom: 16px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    z-index: 1;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service-item {
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item:not(:first-child) {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 22px;
    font-weight: 600;
}

.service-item__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    width: 244px;
    color: #656689;
    margin-top: 18px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.service-item__more {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 24px;
}

.service-item__text {
    color: #34396a;
    font-family: Sora;
    font-size: 12px;
    font-weight: 600;
}

.service__wrap {
    margin-top: 18px;
    text-align: center;
}

.service__btn {
    margin-top: 45px;
    color: #ff5b2e;
    font-size: 16px;
    font-weight: 500;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
    padding: 130px 0;
    background: #fffaf5;
}

.staff__header {
    text-align: center;
}

.staff__care {
    color: #5e6085;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}

.staff-item__name {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 14px;
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    padding: 20px 40px;
    border-radius: 999px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 266px;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    content: url(../img/member_decor-1.png);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    content: url(../img/member_decor-2.png);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    content: url(../img/member_decor-3.png);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    content: url(../img/member_decor-4.png);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    bottom: initial;
    top: 16px;
}

.staff-item__img {
    display: block;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    width: 100%;
}
